@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Art Gallery Project</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>
            Looking for something beautiful, or at least interesting to look at? You&apos;ve come to the right place!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Browse Gallery &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Admin Only</h2>
        <p><a class="btn btn-default" href="/Piece/List">Pieces &raquo;</a></p>
        <p><a class="btn btn-default" href="/Form/List">Forms &raquo;</a></p>
        <p><a class="btn btn-default" href="/Image/List">Images &raquo;</a></p>
        <p><a class="btn btn-default" href="/Media/List">Medias &raquo;</a></p>
        <p><a class="btn btn-default" href="/Status/List">Statuses &raquo;</a></p>
        <p><a class="btn btn-default" href="/Technique/List">Technique &raquo;</a></p>
    </div>
</div>